@font-face {
  font-weight: 400;
  font-family: Rubik;
  src: url('./src/fonts/Rubik-Regular.woff2');
}

@font-face {
  font-weight: 700;
  font-family: Rubik;
  src: url('./src/fonts/Rubik-Medium.woff2');
}

.win-parent {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
}

.win-pop-window {
  border: 1px solid #d837b5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 590px;

  background-color: white;

  box-sizing: border-box;
  padding: 40px 150px 100px;

  font-family: Rubik;
  font-size: 36px;
  font-weight: 400;
  line-height: 44px;
  text-align: center;
}

.win-input {
  width: 454px;
  height: 70px;
  background-color: #d9d9d9;
  border: 0;
  border-radius: 5px;
  font-size: 35px;
  text-align: center;
}
.buttons {
  display: flex;
  width: 470px;
  justify-content: space-between;
  margin-left: 15px;
  box-sizing: border-box;
  padding: 0;
  margin-top: 40px;
}
.win-buttons {
  width: 227px;
  height: 70px;

  background-color: white;

  border-radius: 76px;
  border-color: #d837b5;
  cursor: pointer;

  font-family: Rubik;
  font-size: 36px;
  font-weight: 400;
  text-align: center;
}

.ok-button {
  background-color: #d837b5;
  color: #ffffff;
}

.cancel-button {
  color: #d837b5;
}
