.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1200px;
  height: 300px;
  margin: 0 auto;

  color: var(--main-color);
  background-color: var(--secondary-color);

  &__image-wrapper {
    width: 100px;
    height: 100px;
  }
}

