.text-show-leaderboard {
  text-decoration: underline;

  text-align: center;
  padding-top: 1em;

  color: var(--color-accent);
}

.leaderboard {
  max-width: var(--main-width);
  margin-top: 60px;
  text-align: center;
}

table {
  min-width: 50vw;
}

thead {
  font-weight: 700;
  font-size: 0.9em;
}

tbody {
  font-size: 0.7em;
}

tr,
td {
  padding: 10px;
}
