@import 'normalize.css';
@import 'utils/reset.pcss';
@import 'utils/fonts.pcss';
@import 'utils/typo.pcss';

@import 'utils/variables.pcss';

@import 'blocks/hero.pcss';
@import 'blocks/leaderboard.pcss';
@import 'blocks/win-congrats.pcss';
